/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  background: #f5f7fa;
  padding: 40px;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
}

/* Navigation */
.nav_box {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.nav-btn {
  text-decoration: none;
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
}

.nav-btn:hover {
  background: #0056b3;
}

/* Sections */
section {
  margin: 60px;
  display: block;
  width: 100%;
}

/* Form Box */
.box {
  max-width: 600px;
  width: 100%;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: block;
  min-height: 700px;
}

/* Headings */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Labels */
label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Inputs & textarea */
input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Button */
button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background: #ffea00;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 20px;
  color: #555;
}

.sec:hover{
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: #f60202;
}