<div class="legend-grid">
  <% @legends.each do |legend| %>
    <%= render legend %>
  <% end %>
</div>
<br>
<hr>

<br>

<div class="pagination-nav">
  <%= pagy_nav(@pagy, anchor_string: 'data-turbo-frame="legends_results"').html_safe if @pagy.pages > 1 %>
</div>
